body {
    background: #FBFCD4; /*#e3d1a5 url(../images/farbv.png) top left repeat-x;*/
    font-family: Arial;
	margin: 0px 35px 0px 35px;
}
.obenbraun
{
  margin: 0px 0px 0px 0px;
  background: #e3d1a5;
  padding: 5px;
  -moz-border-radius-bottomright:15px;
  -moz-border-radius-bottomleft:15px;
  -khtml-border-radius-bottomright:15px;
  -khtml-border-radius-bottomleft:15px;
}
.bgt{
background: #e3d1a5;
padding: 5px;
-moz-border-radius:15px;
-khtml-border-radius:15px;
text: black;


}
a:link
{
	color: #22229C;
}
a:visited
{
	color: #22229C;
}
a:hover, a:active
{
	color: #FF4400;
}
.navioben
{
  background: transparent url(../images/navi.png) top left repeat-x;
  font-size: 15px;
  margin: 0px 0px 0px 0px;
  padding: 5px;
}
.navio
{  
  background: transparent url(../images/navi.png) top left repeat-x;
  font-size: 15px;
}

.navio a:link, .navioben a:link
{
	color: #FFFFFF;
	text-decoration: none;
}
.navio a:visited, .navioben a:link
{
	color: #FFFFFF;
	text-decoration: none;
}
.navio a:hover, a:active
{
	color: #FFFFFF;
	text-decoration: underline;
}
.navi
{
  background: transparent url(../images/navi.png) top left repeat-x;
  font-size: 15px;

}
.seiten_navi
{
  background: transparent url(../images/navi.png) top left repeat-x;
  font-size: 15px;

}
.seiten_navi a:link, .seiten_navi a:visited
{

	color: snow;
	text-decoration: none;
}
.seiten_navi a:hover, .seiten_navi a:active
{
	color: snow;
	text-decoration: underline;
}
.forenbg
{
  background: #e3d1a5;
}
.profil_buttons a:link, .profil_buttons a:visited
{
    -moz-border-radius-topright:15px;
    -moz-border-radius-topleft:15px;
    -khtml-border-radius-topright:15px;
    -khtml-border-radius-topleft:15px;
    display: inline-block;
    border: 1px solid #522600;
	margin: 0px;
	float:left ;
	padding: 0px;
    background: #914400;
    text-decoration:none;
	font-family: Arial;
    height: 25px;
	min-width: 130px;
	text-align: center; 
	color: #FFFFFF;
}
.profil_buttons a:hover, .profil_buttons a:active
{
    background: #C76D1E;
	color: snow;
	text-decoration: none;
}
div.littlenavi
{
  display: inline;
  margin-left: 4px;
  font-size: 12px;
}
.navi a:link, .navi a:visited
{
    display: inline-block;
    border: 1px solid #522600;
	margin: 0px;
	float:left ;
	padding: 0px;
    background: #914400;
    text-decoration:none;
	font-family: Arial;
    height: 25px;
	min-width: 130px;
	text-align: center; 
	color: #FFFFFF;
}
.navi a:hover, .navi a:active
{
    background: #C76D1E;
	color: snow;
	text-decoration: none;
}
.tab1
{
	background: #ecd3a7;
	color: #000000;
border: 1px solid #cbaf7d;
padding:3px;
    font-size: 15px;
}
.profil_small
{
  font-size: 12px;
}
.titl
{
	background: #dfc89c;
	color: #000000;
    font-size: 15px;
    border: 1px solid #c38918;
}
.bord
{
     border: 1px solid #825A18;
}
.normal
{
    background: url(../images/hell.png) top left repeat-x;
	color: black;
}
.tab
{
    display: block;
	border: 1px;
	background: #EAEAEA;
	color: black;
	width: 100%;
	height: 7%;
	text-decoration: none;
}
.tab:hover
{
	background: #F0F0F0;
	color: darkblue;
	border-width: 75%;
	border-height: 20%;
	text-decoration: none;
}

.tabelbor
{
  border: 1px solid #000050;
  background: #FFF url(../images/head.png) top left repeat-x;
}
.dark
{
   background: url(../images/dark.png) repeat top;

}
.hell
{
   background: url(../images/hell.png) repeat top;

}
.post {
background: #ded0b0;
border: 1px solid #a68d52;
padding:5px; 
text-decoration: none;
}
.post td {
border: none;
text-decoration: none;
}
.post hr {
border:solid #a68d52 1px;
text-decoration: none;
}
.editorbg
{
  background: #d8b284;
  border: 1px solid #585858;
  color: snow;
}
.editorbgco
{
  background: #b8793c;
  color: snow;
}
.editorbgc
{
  background: #b8793c;
  border: 1px solid #585858;
  color: snow;  
}
legend
{
	color: #d8b284;
	font-size: 12px;
    font-weight: bold;
}
fieldset
{
  border: 1px solid #d8b284;
}
