body {
background: #909090;
font-family: Arial;

}
.bgt{
background: snow;
text: black;
}
a:link
{
	color: #22229C;
}
a:visited
{
	color: #22229C;
}
a:hover, a:active
{
	color: #FF4400;
}
.navi
{
  background: #397BC6;
  border: 1px solid #000050;
  font-size: 15px;
}
.navi a:link
{
	color: #FFFFFF;
	text-decoration: none;
}
.navi a:visited
{
	color: #FFFFFF;
	text-decoration: none;
}
.navi a:hover, a:active
{
	color: #FFFFFF;
	text-decoration: underline;
}
.tab1
{
	background: #E1E4F2;
	color: #000000;
    font-size: 15px;
}
.titl
{
	background: #E1E4F2;
	color: #000000;
    font-size: 15px;
    border: 1px solid #397BC6;
}
.bord
{
     border: 1px solid #000050;
}
.normal
{
    background: #397BC6;
	color: black;
}
.tab
{
    display: block;
	border: 1px;
	background: #EAEAEA;
	color: black;
	width: 100%;
	height: 7%;
	text-decoration: none;
}
.tab:hover
{
	background: #F0F0F0;
	color: darkblue;
	border-width: 75%;
	border-height: 20%;
	text-decoration: none;
}

.tabelbor
{
  border: 1px solid #000050;
}
legend
{
	color: #22229C;
	font-size: 12px;
    font-weight: bold;
}
fieldset
{
  border: 1px solid #22229C;
}